extends layout

block content
  div(class='container')
    div(class='row row-centered')
      div(class='col-md-6 col-centered')

    div(class='row row-centered')
      div(class='col-md-6 col-centered')
        p Click here to create a new session
        br
        div(class='col-md-6 col-centered')
          input(id='player-name-input' type='text' class='form-control' placeholder='Enter your name' required)
          br
          label
            |I have the Myo&nbsp;&nbsp;
            input(id='myo-player-check' type='checkbox')
        br
        br
        button(class='btn btn-default btn-lg' id='join-session-button') Create

      div(class='col-md-6 col-centered' id='code-box')
