body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.row-centered {
  text-align:center;
  margin-bottom: 50px;
}
.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:center;
}

#code-box {
  font-size: 20px;
}